### MANAGED BY PUPPET ###


[mysql]
user=root
host=localhost
password='polaris'
socket=/var/lib/mysql/mysql.sock

[client]
user=root
host=localhost
password='polaris'
socket=/var/lib/mysql/mysql.sock

[mysqldump]
user=root
host=localhost
password='polaris'
socket=/var/lib/mysql/mysql.sock

[mysqladmin]
user=root
host=localhost
password='polaris'
socket=/var/lib/mysql/mysql.sock

[mysqlcheck]
user=root
host=localhost
password='polaris'
socket=/var/lib/mysql/mysql.sock

